<!DOCTYPE html>
<html>
<head>
  <title>A Vue.js Calculator</title>
  <style>
    p, input { font-family: monospace; }
    p { white-space: pre; }
  </style>
</head>
<body>
  <div id="app">
    <p>x <input v-model="x"></p>
    <p>y <input v-model="y"></p>
    <p>---------------------</p>
    <p>= <span v-text="result"></span></p>

    <button v-on:click="multiply()">Multiply</button>
	  <p>Multiplied: {{ multi }}</p>
	  <button v-on:click="division()">Division</button>
	  <p>Division: {{ divi }}</p>

		<button v-on:click="saveThings()">Save addition</button>
		<button v-on:click="listWat()">Last calcs</button>
	  <p>Wat: {{ wat }}</p>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="logic.js"></script>

</body>
</html>
