<html>
<head>
  <title>Vue.js Pet Depot</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<div id="app">
  <header>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <h1>{{ sitename }}</h1>
      </div>
      <div class="nav navbar-nav navbar-right cart">
        <button type="button" class="btn btn-default btn-lg" v-on:click="showCheckout">
          <span class="glyphicon glyphicon-shopping-cart">{{ cartItemCount }}</span> Checkout
        </button>
      </div>
    </div>
  </header>
  <main>
    <div class="row product">
      <div v-if="showProduct" v-for="prod in products">




        <div class="col-md-2 col-md-offset-1">
          <figure>
            <img v-bind:src="prod.image">
          </figure>
        </div>
        <div class="col-md-6 col-md-offset-2 description">
          <h1 v-text="prod.title"></h1>
          <p v-html="prod.description"></p>
          <p class="price">
            {{prod.price | formatPrice}}
          </p>
          <p>{{ cartItemCount }} / {{ availableInventory }} products</p>
			<button v-if="canAddToCart" class="default"
				v-on:click="addToCart(prod)"
				>Add to cart
			</button>
			<button v-else class="default" disabled=true
				v-on:click=""
				>You're full
			</button>
        </div>


      </div>
      <div v-else>

      </div>
    </div><!--end of row-->

  </main><!--end of main-->

</div>
    <script type="text/javascript">


    var APP_LOG_LIFECYCLE_EVENTS = true;
    var webstore = new Vue({
      el: '#app',
      data: {
        sitename: "Vue.js Pet Depot",
        showProduct: true,
        availableInventory: 5,
				order: {
					firstName: '',
					lastName: ''
				},
        products: [
        	{
	        	id: 1001,
	          title: "Cat Food, 25lb bag",
	          description: "A 25 pound bag of <em>irresistible</em>, organic goodness for your cat.",
	          price: 2000,
	          image: "assets/images/product-fullsize.png",
        	},
        	{
        		id: 1002,
	          title: "Gud",
	          description: "Git you some",
	          price: 900100,
	          image: "assets/images/Miyazaki-San.png",
        	}
        	],
        cart: []
      },
      methods: {
        addToCart: function(duct) {
          this.cart.push( duct.id );
					console.log(item);
        },
        showCheckout() {
            this.showProduct = this.showProduct ? false: true;
        },
      },
      computed: {
          cartItemCount() {
          	if (this.cart.length > 0) {
            	return this.cart.length || '';
          	} else {
          		return 0;
          	}
          },
          canAddToCart() {
            return this.availableInventory > this.cartItemCount;

          }
      },
      filters: {
        formatPrice(price) {
          if (!parseInt(price)) { return ""; }
          if (price > 99999) {
            var priceString = (price / 100).toFixed(2);
            var priceArray = priceString.split("").reverse();
            var index = 3;
            while (priceArray.length > index + 3) {
              priceArray.splice(index+3, 0, ",");
              index += 4;
            }
            return "$" + priceArray.reverse().join("");
          } else {
            return "$" + (price / 100).toFixed(2);
          }
        }

      },
      beforeCreate: function() {
    if (APP_LOG_LIFECYCLE_EVENTS) {
      console.log("beforeCreate");
    }
  },
  created: function() {
    if (APP_LOG_LIFECYCLE_EVENTS) {
      console.log("created");
    }
  },
  beforeMount: function() {
    if (APP_LOG_LIFECYCLE_EVENTS) {
      console.log(" beforeMount");
    }
  },
  mounted:  function() {
    if (APP_LOG_LIFECYCLE_EVENTS) {
      console.log(" mounted");
    }
  },
  beforeUpdate:  function() {
    if (APP_LOG_LIFECYCLE_EVENTS) {
      console.log("beforeUpdate");
    }
  },
  updated:  function() {
    if (APP_LOG_LIFECYCLE_EVENTS) {
      console.log("updated");
    }
  },
  beforeDestroyed:  function() {
    if (APP_LOG_LIFECYCLE_EVENTS) {
      console.log("beforeDestroyed ");
    }
  },
  destroyed:  function() {
    if (APP_LOG_LIFECYCLE_EVENTS) {
      console.log("destroyed");
    } 	//#I
  },	//#I
  looper: function() {
				var para = document.createElement("p");
				var node = document.createTextNode("This is new.");
				para.appendChild(node);

				var element = document.getElementById("div1");
				element.appendChild(para);
   }
});

    </script>
    <script type="text/javascript">


    </script>
  </body>
</html>
