<html>
<head>
  <title>Component example</title>
  <script src="https://unpkg.com/vue"></script>

</head>
<body>
<div id ="blog-post-demo" class="demo">
 <blog-post
  v-for="post in posts"
  v-bind:key="post.id"
  v-bind:post="post"
></blog-post>
</div>
<script type="text/javascript">
Vue.component('blog-post', {
  props: ['post'],
  template: '<div class="blog-post"><h3>{{ post.title }}</h3></div>'
})
new Vue({
  el: '#blog-post-demo',
  data: {
    posts: [
			{ id: 1, title: 'My journey with Vue' },
      { id: 2, title: 'Blogging with Vue' },
      { id: 3, title: 'Why Vue is so fun' }
	  ]
  },
 })
   </script>
  </body>
</html>