<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>app</title>
  </head>
  <body>
  	<div id="derp">
  		<div>
		  	<div>CHATTERNATOR X</div>
		  	<input type="text" v-model="lastMessage"/>
		  	<button type="submit" class="btn btn-primary submit" v-on:click="send(lastMessage)">Send</button>
		  	<button type="submit" class="btn btn-primary submit" v-on:click="loadLog()">Load log</button>
	  	</div>
		  	<div v-if="show" v-for="entry in chatLog">
	  		<div class="col-md-6 col-md-offset-2 description">
	  		<p>{{entry}}</p>

  		</div>
  	</div>
  	</div>
  	<!--
    <noscript>
      <strong>We're sorry but app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    -->
    <!-- built files will be auto injected -->
    <script>
			var ChatController =  new Vue({
				el: '#derp',
      	data: {
      		lastMessage: "",
      		show: true,
					chatLog: [],
      	},
      	methods: {
					send: function(mes) {
						if (mes !== "") {
          		this.addToLog(mes);
						} else {
							console.log("You didn't send anything, you fool.");
						}
        	},
        	addToLog (mes) {
        		//this.loadLog();
	          this.chatLog.push(mes);
	          this.saveLog();
						console.log(mes);
        	},
        	saveLog() {
        		localStorage.setItem('storedLog', JSON.stringify(this.chatLog));
        	},
        	loadLog() {
        		this.chatLog = JSON.parse(localStorage.getItem('storedLog'));
        		console.log(this.chatLog);
        	}
      	}
			});

    </script>
  </body>
</html>
