body {
  background: linear-gradient(270deg, #000251, #999463);
}
#app {
  display: flex;
}
.my-list {
  flex: 1 2 30%;
  font-family: Times;
  color: black;
  margin: 11px;
}
.title {
    background: #E93226;
    font-weight: bold;
    font-size: 22px;
  }
.list {
    background: #34495E;
    font-size: 18px;
  }
.list-item:not(:last-child) {
    padding-bottom: 15px;
  }


.swatch {
  display: inline-block;
  width: 15px;
  height: 10px;
  margin-right: 8px;
}